<h3>Add a new pattern to the song</h3>
<form method="post" action="/song/new_pattern">
  <input type="text" name="title" placeholder="Pattern name" value="<%= @pattern_title %>">
  <input type="submit" value="pattern">
</form>


<span>Current kit: </span>
<form class="repeats" method="post" action="song/new-pattern">
    <select name="title">
      <option value="none" selected>Select pattern name</option>
      <% each_part do |part| %>
        <option <%= part %> value="<%= part %>"><%= part %></option>
      <% end %>
    </select>
    <br>
    <input type="submit" value="Add a blank pattern">
  </form>