<h3>Add a new section to the song</h3>
<form method="post" action="/song/new_section">
  <input type="text" name="title" placeholder="Section name">
  <input type="submit" value="Create new section">
</form>