<form method="post" action="/pattern">
  <select name="instrument">
    <option value="bass">Bass</option>
    <option value="snare">Snare</option>
    <option value="hihat">Hihat</option>
    <option value="cowbell">Cowbell</option>
    <option value="deep">Deep</option>
  </select>


  <input type="checkbox" name="pattern[]" value="0">
  <input type="checkbox" name="pattern[]" value="1">
  <input type="checkbox" name="pattern[]" value="2">
  <input type="checkbox" name="pattern[]" value="3">
  <input type="checkbox" name="pattern[]" value="4">
  <input type="checkbox" name="pattern[]" value="5">
  <input type="checkbox" name="pattern[]" value="6">
  <input type="checkbox" name="pattern[]" value="7">
  <input type="checkbox" name="pattern[]" value="8">
  <input type="checkbox" name="pattern[]" value="9">
  <input type="checkbox" name="pattern[]" value="10">
  <input type="checkbox" name="pattern[]" value="11">
  <input type="checkbox" name="pattern[]" value="12">
  <input type="checkbox" name="pattern[]" value="13">
  <input type="checkbox" name="pattern[]" value="14">
  <input type="checkbox" name="pattern[]" value="15">
  <input type="submit" value="Submit"/>
</form>

<!-- <form action="/pattern" method="post" name="checkbox_form">
    <input type="checkbox" name="item[]" value="Bacon">Bacon (1 lb., sliced)<br/>
    <input type="checkbox" name="item[]" value="Eggs (dozen)">Eggs (1 dozen)<br/>
    <input type="submit" value="Calculate"/>
</form> -->