<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/application.css">
    <title>Check Yourself</title>
  </head>

  <body>
   <!--  <% if session[:failure] %>
      <div class="flash failure">
        <p><%= session.delete(:failure) %></p>
      </div>
    <% elsif session[:success] %>
      <div class="flash success">
        <p><%= session.delete(:success) %></p>
      </div>
    <% end %> -->

    <%== yield %>
  </body>
</html>