label {
  display: block;
}

.form {
  display: inline ;
}

input[type="checkbox"] {
  transform: scale(2, 2);
  margin: 8px;
}

input[type="number"] {
  -webkit-transform:scale(1.2, 1.2);
  transform:scale(1.2, 1.2);
  margin: 8px;
}
